<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="/media/js/jquery.js"></script>
    <script src="/media/js/jqueryui.js"></script>

    <link rel="stylesheet" type="text/css" href="/media/css/jqueryui.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/jquery-confirm.min.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/jquery.dynatable.css" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <script src="/media/js/jquery-confirm.min.js"></script>
    <script src="/media/js/jquery.dynatable.js"></script>
    <title>{{title}}</title>
    <style type="text/css">
        .text-center {
            text-align: center;
        }
    </style>
</head>
<body>
{% include "menu.html" %}
{% block menu %}{% endblock %}
{% block content %}{% endblock %}
</body>
</html>